
.expense-list {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-2px);
}
